[submodule "docs/documentation/software/laser_setup_repo"]
	path = docs/documentation/software/laser_setup_repo
	url = git@github.com:nanolab-fcfm/laser_setup.git
[submodule "docs/documentation/hardware/clicker_repo"]
	path = docs/documentation/hardware/clicker_repo
	url = git@github.com:nanolab-fcfm/clicker_instrument.git
[submodule "docs/documentation/hardware/temp_sensor_v1_repo"]
	path = docs/documentation/hardware/temp_sensor_v1_repo
	url = git@github.com:nanolab-fcfm/temperature_sensor.git
